<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>
  <form action="" method="POST" class="msg-login">
    <div class="input-block">
      <input type="text" placeholder="您的大名" name="username">
    </div>
    <div class="input-block">
      <input type="password" placeholder="密码" name="password">
    </div>
    <div class="input-block">
      <button type="submit">立即进入</button>
    </div>
  </form>
</body>

</html>